@page
@using MasterMealMind.Web.Helpers;
@model MasterMealMind.Web.Pages.EditFavouriteRecipeModel
@{
}
@if (Model.FavouriteRecipe != null)
{
	<form method="post" asp-page-handler="OnPostAsync" id="editForm">
		<input type="hidden" asp-for="FavouriteRecipe.Id" />
		<button type="submit" class="btn btn-primary mb-2">Spara ändringar</button>
		<div class="card">
			<div class="row no-gutters">
				<div class="col-md-6">
					<div class="card-body">
						<h5>Redigera titel och kort beskrivning: </h5>

						<div id="title" class="p-1">
							<input type="text" name="title" value="@Model.FavouriteRecipe.Title" class="form-control" />
						</div>
						<div id="preamble" class="p-1">
							<textarea name="preamble" rows="4" cols="50" class="form-control">@Html.Raw(Model.FavouriteRecipe.Preamble) </textarea>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<img src="@Model.FavouriteRecipe.ImgURL" alt="Recipe Image" width="200">
				</div>
			</div>
		</div>

		<br />


		<div class="row">
			<div class="col-6">
				<h5>Redigera ingredienser: </h5>

				<div id="ingredients">
					<table class="table table-striped border" aria-label="" aria-hidden="true">
						@if (!string.IsNullOrEmpty(Model.FavouriteRecipe.Ingredients))
						{
							var ingredients = Model.FavouriteRecipe.Ingredients.Split('|');
							for (var i = 0; i < ingredients.Length; i++)
							{
								<div class="p-1">
									<input type="text" name="ingredients[]" value="@ingredients[i]" class="form-control" />
								</div>
							}
						}
					</table>
				</div>
			</div>
			<div class="col-6">
				<h5>Redigera steg för steg:</h5>
				<div id="description">
					<table class="table table-striped border" aria-label="" aria-hidden="true">
						@if (!string.IsNullOrEmpty(Model.FavouriteRecipe.Description))
						{
							var description = Model.FavouriteRecipe.Description.Split('|');
							for (var i = 0; i < description.Length; i++)
							{
								<div class="p-1">
									<input type="text" name="description[]" value="@description[i]" class="form-control" />
								</div>
							}
						}
					</table>
				</div>
			</div>
		</div>
	</form>
}