@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<div class="container">
	<div class="text-start">
		<div class="row">
			<div class="form-group col-md-10">
				<h4>@(string.IsNullOrEmpty(Model.SearchString) ? "Receptförslag" : "Receptförslag på " + Model.SearchString)</h4>
			</div>
			<div class="form-group col-md-2">
				<form method="post" asp-page-handler="EmptySearch">
					<button class="btn btn-secondary" type="submit">Töm sökning</button>
				</form>
			</div>
			<div class="form-group col-md-2">
				<form method="post" asp-page-handler="LoadRecipes">
					<button class="btn btn-secondary" type="submit">Ladda recept</button>
				</form>
			</div>
		</div>

		@if (Model.Recipes != null)
		{
			<p>@Model.Recipes.Count()</p>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-md-3 col-sm-3">Titel</th> 
                                        <th class="col-md-4 col-sm-4">Beskrivning</th>
                                        <th class="col-md-3 col-sm-3">Ingredienser</th>
                                        <th class="col-md-2 col-sm-2">@string.Empty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var recipe in Model.Recipes)
                                    {
                                        <tr>
                                            <td class="col-md-3 col-sm-3">
                                                <a asp-page="/RecipeDetailsPage" asp-route-recipeId="@recipe.Id">
                                                    @recipe.Title
                                                </a>
                                            </td>
                                            <td class="col-md-4 col-sm-4">
                                                <p>@recipe.Preamble?.ToString()</p>
                                            </td>
                                            <td class="col-md-3 col-sm-3">
                                                @if (!string.IsNullOrEmpty(recipe.Ingredients))
                                                {
                                                    foreach (var ingredient in recipe.Ingredients.Split('|'))
                                                    {
                                                        <div>@ingredient.Trim()</div>
                                                    }
                                                }
                                            </td>
                                            <td class="col-md-2 col-sm-2">
                                                <img src="@recipe.ImgURL" height="150" alt="Bild på @recipe.Title">
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
		}
	</div>
</div>
