@page
@using MasterMealMind.Web.Helpers;
@using MasterMealMind.Infrastructure.Services;
@model IndexModel
@{
	ViewData["Title"] = "Home page";

}
<div class="container">
	<div class="text-start">
		<div class="row pl-2 pb-2">
			<div class="form-group col-md-10">
				<h4>@(string.IsNullOrEmpty(Model.SearchString) ? "Receptförslag" : "Receptförslag på " + Model.SearchString)</h4>
			</div>
			<div class="form-group col-md-2">
				<form method="post" asp-page-handler="LoadRecipes">
					<button class="btn btn-secondary" type="submit">Ladda recept</button>
				</form>
			</div>
			@if (!string.IsNullOrEmpty(Model.SearchString))
			{
				<div class="form-group col-md-2">
					<form method="get">
						<button class="btn btn-secondary" type="submit">Töm sökning</button>
					</form>
				</div>
			}

			<div>
				<form method="get">
					<div class="input-group">
						<input type="text" name="searchWord" class="form-control col-2 mr-1" placeholder="Sök efter recept..." />
						<div class="input-group-append">
							<button type="submit" id="searchButton" class="btn btn-primary">Sök</button>

						</div>
					</div>
				</form>
			</div>
		</div>

		@if (Model.Recipes.Count() > 0)
		{
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th></th>
										<th class="col-md-3 col-sm-3">Titel</th>
										<th class="col-md-4 col-sm-4">Beskrivning</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									@foreach (var recipe in Model.Recipes)
									{
										<tr>
											<td class="col-1">
												<div class="form-group">
													<form method="post" asp-page-handler="AddToFavourites">
														<input type="hidden" name="recipeId" value="@recipe.Id" />
														<button class="btn-sm btn-primary" type="submit">Favorit</button>
													</form>
												</div>
											</td>
											<td class="col-md-3 col-sm-3">
												<a asp-page="/RecipeDetailsPage" asp-route-recipeId="@recipe.Id" asp-route-source="recipes">
													@recipe.Title
												</a>
											</td>
											<td class="col-md-3 col-sm-3">
												<div>
													@Html.Raw(recipe.Preamble)
												</div>
											<td class="col-md-2 col-sm-2">
												<img src="@recipe.ImgURL" height="150" alt="Bild på @recipe.Title">
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		}
		else
		{
			<h2 class="my-2">
				@(string.IsNullOrEmpty(Model.SearchString)
					? "Databasen är tom"
					: "Din sökning gav inga resultat")
			</h2>
		}

	</div>
</div>

